{% extends "course_base.html.j2" %}
{% set active_page = "assignments" %}

{% macro truefalse(idx, problem, name) -%}
  <div class="mt-3">
    <p>{{ idx }}. {{ problem.text }}</p>
    <div class="ms-3">
      <fieldset>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{ problem.id }}" id="trueFalseTrue{{ idx }}" value="true">
          <label class="form-check-label" for="trueFalseTrue{{ idx }}">
            True
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{ problem.id }}" id="trueFalseFalse{{ idx }}" value="false">
          <label class="form-check-label" for="trueFalseFalse{{ idx }}">
            False
          </label>
        </div>
      </fieldset>
    </div>
  </div>
{%- endmacro %}

{% macro multiplechoice(idx, problem, name) -%}
  <div class="mt-3">
    <p>{{ idx }}. {{ problem.text }}</p>
    <div class="ms-3">
      <fieldset>
        {% for choice in problem.options %}
          <div class="form-check">
            <input class="form-check-input" type="radio" name="{{ problem.id }}" id="multipleChoice{{ idx }}{{ loop.index }}" value="{{ choice.id }}">
            <label class="form-check-label" for="multipleChoice{{ idx }}{{ loop.index }}">
              {{ choice.text }} 
            </label>
          </div>
        {% endfor %}
      </fieldset>
    </div>
  </div>
{%- endmacro %}

{% macro multipleselect(idx, problem, name) -%}
  <div class="mt-3">
    <p>{{ idx }}. {{ problem.text }}</p>
    <div class="ms-3">
      <fieldset>
        {% for choice in problem.options %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{ problem.id }}" id="multipleSelect{{ idx }}{{ loop.index }}" value="{{ choice.id }}">
            <label class="form-check-label" for="multipleSelect{{ idx }}{{ loop.index }}">
              {{ choice.text }} 
            </label>
          </div>
        {% endfor %}
      </fieldset>
    </div>
  </div>
{%- endmacro %}

{% macro freeresponse(idx, problem, name) -%}
  <div class="mt-3">
    <p>{{ idx }}. {{ problem.text }}</p>
    <div class="ms-3">
      <fieldset>
        <div>
          <textarea class="form-control" name="{{ problem.id }}" id="freeResponse{{ idx }}" rows="3"></textarea>
        </div>
      </fieldset>
    </div>
  </div>
{%- endmacro %}

{% macro file(idx, problem, name) -%}
  <div class="mt-3">
    <p>{{ idx }}. {{ problem.text }}</p>
    <div class="ms-3">
      <fieldset>
        <div>
          {# <label for="formFile" class="form-label mt-4">Default file input example</label> #}
          <input class="form-control" type="file" id="fileUpload" name="{{ problem.id }}">
        </div>
      </fieldset>
    </div>
  </div>
{%- endmacro %}

{% block title %}Attempt{% endblock %}
{% block content %}
    <h1>{{ assignment.title }}</h1>
    <p class="important">
      Welcome to my awesome Homework Attempt page.
    </p>

    <div class="bg-light p-3 border-top border-bottom rounded">
    {{ assignment_html | safe }}
    </div>

    <form data-bitwarden-watching="1" method="post" enctype="multipart/form-data">
      {% for problem in problems %}
        {% if problem.type == "true_false" %}
          {{ truefalse(loop.index, problem, "problem" ~ loop.index) }}
        {% elif problem.type == "multiple_choice" %}
          {{ multiplechoice(loop.index, problem, "problem" ~ loop.index) }}
        {% elif problem.type == "file" %}
          {{ file(loop.index, problem, "problem" ~ loop.index) }}
        {% elif problem.type == "multiple_select" %}
          {{ multipleselect(loop.index, problem, "problem" ~ loop.index) }}
        {% elif problem.type == "free_response" %}
          {{ freeresponse(loop.index, problem, "problem" ~ loop.index) }}
        {% endif %}
      {% endfor %}

      <fieldset>
        <button type="submit" class="btn btn-primary my-3">Submit</button>
      </fieldset>
    </form>

    <script type="text/javascript">
      
    </script>
{% endblock %}

{# window.addEventListener('beforeunload', (event) => {
        // Cancel the event as stated by the standard.
        event.preventDefault();
        // Chrome requires returnValue to be set.
        event.returnValue = '';

        // Call the API
        fetch('/api/v1/assignments/attempts/{{ attempt_id }}', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: "same-origin",
          body: JSON.stringify({ message: 'User is navigating away' })
        }).catch((error) => {
          console.error('Error calling the API:', error);
        });
      }); #}