{% extends "course_base.html.j2" %}

{% block title %}{{ course.code }}: {{ course.name }}{% endblock %}
{% block content %}
    <h1>Home</h1>
    <p class="important">
      Welcome to my the course homepage.
    </p>
    <p>Hello, World!</p>

    {{ course_html | safe }}
{% endblock %}